<!DOCTYPE html>
<html>
<head>
	<title>Nombres equipo docente IN3501-2</title>
</head>
<body>
	<h2>Profesor de cátedra</h2>
	<h3>Víctor Hernández</h3>
	<h2>Profesor Auxiliar</h2>
	<h3>Javiera Ovalle T.</h3>
	<h3>Jorge Pinto</h3>
	<h3>José Canto</h3>
	<h3>Macarena Osorio A.</h3>
	<h2>Ayudantes</h2>
	<h3>Carlos Vega</h3>
	<h3>Catalina Martin</h3>
	<h3>Eduardo Valerio</h3>
	<h3>Juan Gutiérrez</h3>
	<h3>Matías Rojas</h3>
	<h3>Nicolás Villa</h3>
	<h3>Sebastián Donoso</h3>
	<h3>Sofia Herrera</h3>
	<h3>Victoria Arce</h3>

	<a href="{% url 'libre' %}">Hola, acá el tiempo en Santiago de Chile</a>
	<br>
	<a href="{% url 'index' %}">Hola, soy index auxiliar 2</a>



</body>
</html>