<!DOCTYPE html>
<html>
<head>
	<title>Tiempo en los próximo 4 días</title>
	<meta charset="utf-8">	
</head>
<body>
	<h1>Tiempo en los próximos 4 días</h1>
	<h3>Se informa el tiempo en los próximos 4 días en Santiago de Chile</h3>
	<div>
		<table>
			<tr>
				<td>Día</td>
				<td>Miércoles 14/08</td>
				<td>Jueves 15/08</td>
				<td>Viernes 16/08</td>
				<td>Sábado 17/08</td>
			</tr>
			<tr>
				<td>Mínima</td>
				<td>8°C</td>
				<td>6°C</td>
				<td>4°C</td>
				<td>4°C</td>
			</tr>
			<tr>
				<td>Máxima</td>
				<td>24°C</td>
				<td>21°C</td>
				<td>17°C</td>
				<td>16°C</td>
			</tr>
			<tr>
				<td>Información</td>
				<td>Sol y áreas de nubosidad</td>
				<td>Sol y áreas de nubosidad</td>
				<td>Parcialmente soleado</td>
				<td>Parcialmente soleado</td>
			</tr>
		</table>
	</div>
	<h6>Fuente: acuaweather.com</h6>
	<a href="{% url 'index' %}">Hola, soy index auxilar 2</a>
	<br>
	<a href="{% url 'equipo' %}">Hola, soy el equipo docente de IN3501-2</a>


</body>
</html>
